<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<property name="LOG_HOME" value="logs" />
	<!-- 日志打印格式控制 -->
	<property name="pattern"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />

	<!-- 输出到控制台 -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="fileInfo"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
		</filter>
		<File>${LOG_HOME}/info.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd,aux}/info-%d{yyyy-MM-dd.HH}.%i.log
			</FileNamePattern>
			<MaxHistory>72</MaxHistory>
			<maxFileSize>1024MB</maxFileSize>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]%logger{36}:%L - %msg%n
			</pattern>
		</layout>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<appender name="fileError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<File>${LOG_HOME}/error.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd,aux}/error-%d{yyyy-MM-dd.HH}.%i.log
			</FileNamePattern>
			<MaxHistory>72</MaxHistory>
			<maxFileSize>1024MB</maxFileSize>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]%logger{36}:%L - %msg%n
			</pattern>
		</layout>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<appender name="test"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/test.log</File>
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator
				class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
				<marker>TEST</marker>
			</evaluator>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd,aux}/test-%d{yyyy-MM-dd.HH}.%i.log
			</fileNamePattern>
			<maxHistory>72</maxHistory>
			<MaxFileSize>10MB</MaxFileSize>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]%logger{36}:%L - %msg%n
			</pattern>
		</layout>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 日志级别 -->
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="fileInfo" />
		<appender-ref ref="fileError" />
		 <appender-ref ref="test"/>
	</root>

	<springProfile name="sanjie">
		<root level="info">
			<appender-ref ref="console" />
			<appender-ref ref="fileInfo" />
			<appender-ref ref="fileError" />
		</root>
	</springProfile>
	
</configuration>

